
    #beyondfit{
				border:1px solid aqua;
				width:100%;
				height:530px;
				background-color:#ffc217;
				
				}
    
#champ{
				border:px solid black;
				width:200px;
				height:300px;
				float:left;
				margin-right:30px;
				margin-top:30px;
				margin-left:39px;
				border-radius:16px;
				font-family: 'Roboto', sans-serif;
color:#5c5c5c;
				font-size: 20px;


				}    
    
#out{
				border:px solid black;
				width:200px;
				height:300px;
				float:left;
				margin-right:30px;
				margin-top:30px;
				border-radius:16px;
				font-family: 'Roboto', sans-serif;
color:#5c5c5c;
				font-size: 20px;


				}    
   
#socials{
			border:px solid black;
				width:200px;
				height:300px;
				float:left;
				margin-right:30px;
				margin-top:30px;
				border-radius:16px;
				font-family: 'Roboto', sans-serif;
      color:#5c5c5c;
				font-size: 20px;


				}   

#warr{
		border:px solid black;
				width:200px;
				height:300px;
				float:left;
				margin-right:30px;
				font-size: 20px;
				margin-top:30px;
				border-radius:16px;
				color:#5c5c5c;
				font-family: 'Roboto', sans-serif;


				}   
    
    
    #buttoni{
    				margin-left:22%;
    				}
    
