
#base-two-image{
				
				width:100%;
				height:100px;
				} 
 
.left{
			  
				height:99px;
				width:49.8%;
				float:left;
				}
				
				
.left img{
			   padding-top:2px;
				 height:98px;
				 width:360px;
				 padding-left:150px;
				}				
				
				
.right{
				
				height:99px;
				width:49.7%;
				float:right;
				}
 
.right img{
				padding-top:1px;
				 height:99px;
				 width:400px;
				 padding-left:50px;
				}				
 
